*{
	margin: 0 auto 0 auto;
	text-align: left;
}

body {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: arial,helvetica,sans-serif;
	color: #000000;

	background-color: #1c478e;
	background-image: url(../images/background.png);	
	background-repeat: repeat-x;
}

h2{
	padding:0 0 10px 0;
}

h3{
	padding: 20px 0;

	color: #054DBC;
	font-size: 16px;
	font-weight: bold;
}

h4{
	padding: 7px 0;

	color: #054DBC;
	font-size: 15px;
	font-weight: bold;
}

table, tr, td, th{
	margin:0;
}
table{
	padding: 10px 0;
}
th{
	text-align: center;
}
td{
	padding: 5px 20px;
}

a{
	text-decoration: none;
}

label{
	padding: 10px 0 0 0;
	display: inline-block;
	width: 150px;
}

fieldset{
	margin: 15px;
}

/****************************************/

#container{
	width: 960px;
}

header{
	width: 960px;
	height: 85px;
}
header h1{
	padding: 20px 0 0 20px;
	float: left;

	color: #FFFFFF;
	font-size: 43px;
}
header h2{
	float: right;
	padding: 40px 20px 0 0;

	color: #67A0F5;
}

#menu{
	display: block;
	float: left;
	clear: both;

	width: 960px;
	height: 54px;
}

#menu ul{
	padding: 18px 0 0 0;
	margin-left: auto;
	width: 960;

	list-style: none;
}
#menu li{
	list-style: none;
	padding: 0;
	display: inline;
}
#menu li a, #menu li a:visited{
	float: left;
	padding: 0 13px 0 13px;

	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

#sidebar{
	margin: 15px 0 0 0;
	padding: 15px 20px 10px 10px;
	width:190px;
	float: left;

	background-color: #1C478E;;
	border-radius: 10px;
}
#sidebar h3{
	padding: 0 0 8px 0;	

	color: #FFFFFF;
	font-size: 14px;
	border-bottom: #FFFFFF solid 2px;
}
#sidebar ul{
	padding:0;
	list-style: none;
}
#sidebar li{
	padding: 15px 0 8px 0;

	list-style: none;
	border-bottom: 1px dashed #FFFFFF;
}
#sidebar a, #sidebar a:visited{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

section{
	margin: 15px 0 0 15px;
	padding: 15px;
	float: left;
	width: 680px;

	display: block;
	background: #FFFFFF;
	border: 6px solid #1C478E;
	border-radius: 10px;
}

.developer{
	width:170px;
	float:right;
}
.developer ul{
	margin: 0 0 10px 0;
}
.developer ul{
	padding:0;
	list-style: none;
}
.developer li{
	list-style: none;

	line-height: 1.7em;
}

footer{
	margin: 20px 0;
	padding: 10px 0;

	text-align: center;
	color:white;
	background: #000000;
}


.float{
	float: right;
	margin: 15px;
}
.clear{
	clear: both;
}

.blue-text{
	color: #67A0F5;
}

.white-text{
	color: #FFFFFF;
}

/*
Can alternatly use:
header h2 span .white-text{
	....
}
*/

.dev-table th, .dev-table tr, .dev-table td{
	font-size: 110%;
	border-bottom: dashed black 1px;
}

#ad-controls{
	width: 400px;
}


#map{
	width: 400px;
	height: 250px;
	float: left;
}