/***********************************
			Divisions
***********************************/

body{
	background: url(images/dark_wall.png);
	padding:0;
	margin:0;

	font-family: 'Paprika', cursive;
	font-weight: 400;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	color: black;
}

.page{
	width: 900px;
	min-height: 1000px;
	margin: 75px auto 0 auto;
	position:relative;
}

.page .tab{
	position: relative;
	float: right;
	height: 45px;
}

.page .tab #cvDivider{
    width: 246px;
}

.page #spacer{
	background: none;
	width:3px;
}

.page .tab #aboutDivider{
	width: 150px;
}

/***********************************
		  	Tabs
***********************************/

.page input{
	position:absolute;
    z-index: 100;
    right: 0px;
    top: 0px;

    height: 100%;
    width: 100%;
    margin:0;
    opacity: 0;

    cursor: pointer;
}

.page label{
	position:relative;
    background-image: linear-gradient(top, rgb(227,113,227) 0%, rgb(106,145,145) 100%);
	background-image: -o-linear-gradient(top, rgb(227,113,227) 0%, rgb(106,145,145) 100%);
	background-image: -moz-linear-gradient(top, rgb(227,113,227) 0%, rgb(106,145,145) 100%);
	background-image: -webkit-linear-gradient(top, rgb(227,113,227) 0%, rgb(106,145,145) 100%);
	background-image: -ms-linear-gradient(top, rgb(227,113,227) 0%, rgb(106,145,145) 100%);

    font-size: 18px;
    line-height: 45px;
    height:100%;
    padding: 0 20px;
    text-align: center;

    display: block;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;

    text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
    border-radius: 3px 3px 0 0;
}

.page input:checked + label{
	z-index: 5;
	background-image: linear-gradient(top, rgb(227,113,227) 0%, white 100%);
	background-image: -o-linear-gradient(top, rgb(227,113,227) 0%, white 100%);
	background-image: -moz-linear-gradient(top, rgb(227,113,227) 0%, white 100%);
	background-image: -webkit-linear-gradient(top, rgb(227,113,227) 0%, white 100%);
	background-image: -ms-linear-gradient(top, rgb(227,113,227) 0%, white 100%);
}

.page input:hover + label{
	background-image: linear-gradient(top, rgb(227,113,227) 0%, rgb(180,247,247) 100%);
	background-image: -o-linear-gradient(top, rgb(227,113,227) 0%, rgb(180,247,247) 100%);
	background-image: -moz-linear-gradient(top, rgb(227,113,227) 0%, rgb(180,247,247) 100%);
	background-image: -webkit-linear-gradient(top, rgb(227,113,227) 0%, rgb(180,247,247) 100%);
	background-image: -ms-linear-gradient(top, rgb(227,113,227) 0%, rgb(180,247,247) 100%);
}

.page input:checked:hover + label{
	background-image: linear-gradient(top, rgb(227,113,227) 0%, white 100%);
	background-image: -o-linear-gradient(top, rgb(227,113,227) 0%, white 100%);
	background-image: -moz-linear-gradient(top, rgb(227,113,227) 0%, white 100%);
	background-image: -webkit-linear-gradient(top, rgb(227,113,227) 0%, white 100%);
	background-image: -ms-linear-gradient(top, rgb(227,113,227) 0%, white 100%);
}

/***********************************
		  Content
***********************************/

.content{
	position:relative;
	z-index: 5;
	background-color: white; 
	min-height: 300px; 
	border-radius: 3px 0 3px 3px;
}

.content div {
    position: absolute;
    display:none;
    color:black;
    top: 0;
    left: 0;
    padding: 10px 40px;
    z-index: 1;
    
    -webkit-transition: all linear 0.1s;
	-moz-transition: all linear 0.1s;
	-o-transition: all linear 0.1s;
	-ms-transition: all linear 0.1s;
	transition: all linear 0.1s;
}